<title>{{ page.title }} | Sergey Lyapustin</title>
<meta name="description" content="{{ page.description }}">
<meta property="og:type" content="article">
<meta property="article:author" content="Sergey Lyapustin">
<meta property="article:published_time" content="{{ page.date | date: '%Y-%m-%d' }}">
<meta property="og:title" content="{{ page.title }}">
<meta property="og:description" content="{{ page.description }}">
{% if page.og_image %}<meta property="og:image" content="{{ page.og_image | absolute_url }}">{% endif %}
<meta property="og:url" content="{{ page.url | absolute_url }}">
<meta property="twitter:card" content="summary_large_image">
{% if page.og_image %}<meta property="twitter:image" content="{{ page.og_image | absolute_url }}">{% endif %}
<link rel="canonical" href="{{ page.url | absolute_url }}">
<meta name="robots" content="index, follow">
<meta name="author" content="Sergey Lyapustin">
